.container {
  width: 80%;
  margin: auto;
  display: block;
  padding: 40px 0;
}

.tabs > .buttons {
  background: rgb(247, 247, 247);
  border-radius: 3px;
  width: 250px;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  padding: 10px 0px;
  font-size: 13px;
  margin-top: 25px;
}

.tabs > .buttons span {
  padding: 10px;
  border-radius: 4px;
  transition: .4s;
}

.tabs .pricing {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0
}

.pricing > * {
  flex: 1 1 30%;
}

.price_card {
  height: 450px;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 10px;
  padding: 0 40px;
  width: 100%;
  margin: 10px 10px;
  cursor: pointer;
  text-align: left;
}


.price_card:hover {
  box-shadow: 1px 0px 36px 0px #f9f9f9;
  transition: box-shadow .3s linear;
}

.price_card ul {
  line-height: 3;
  padding: 0;
  margin-top: 20px;
  animation: fadeIn .8s ease-in;
}

.price_card ul li:not(span) {
  list-style: none;
  font-size: 13px;
  opacity: .8;
}

.price_card ul li span {
  color: rgba(255, 0, 55, 0.966);
  margin-right: 10px;
}

.price_card h4 {
  font-weight: bold;
  margin-bottom: 0;
}

.price_card p {
  font-size: 12px;
  opacity: .7;
}

.cardFooter {
  text-align: center;
  animation: fadeIn .8s ease-in;
}

.cardFooter span {
  font-size: 12px;
  opacity: .6;
  font-weight: normal;
}

.members {
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  place-items: center;
  padding: 30px 0;
  grid-row-gap: 20px;
}

.member_card img {
  border-radius: 50%;
  border: 2px solid rgb(224, 9, 45) !important;
}

.member_card {
  background: #fff;
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 20px 0;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  border: 1px solid whitesmoke;
}

.member_card:hover {
  box-shadow: 0px 2px 16px 2px #f2f2f2;
  color: rgb(230, 13, 49);
  transition: all .2s linear;
}

.member_card .member_data {
  line-height: .5;
}

.member_card .member_data p {
  font-size: 12px;
}

.social_media_account {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size:14px;
  line-height: .5;
  display: none;
}

.member_card:hover .social_media_account {
  display: block;
  animation: fade .2s linear;
}


@keyframes fadeIn {
  from {
    opacity: .5;
    transform: translateY(10px);
  }
  to {
    transform: translateY(0px);
    opacity: 1; 
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(10px);
    
  }
  to {
    transform: translateY(0px);
    opacity: 1; 
  }
}


@media screen and (max-width : 500px) {
   .members {
      grid-template-columns: 1fr;
   }

   .members img {
     width: 75px;
     height: 75px;
   }

}

@media screen and (max-width : 800px) {
  .container {
    width: 100%;
  }
  .members {
    padding: 10px 0;
     grid-row-gap: 10px;
  }

  .social_media_account {
     width: 20px;
     right: 10px;
  }
  .price_card {
    height: auto;
    font-size: 12px;
  }

  .member_card {
    width: 95%;
  }
}